*{
	margin:0;
	box-sizing: border-box;
	width: 100vw;
	height:100vh;
}

.main_block {
	width: 300px;
	height: 400px;
	background-color: ;
	border: 2px solid gray;
	position: relative;
	left: 50%;
	margin-left: -150px;
}

.text  {
	display:inline-block;
	width: 85px;
	height: 360px;
	margin: 20px 30px;

}
.text_2  {
	display:inline-block;
	width: 85px;
	height: 360px;
	margin: 20px 30px;
	position: absolute;
	left: 50%;

}